{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <br>
    <div class="container col-sm-12">
        <h4>{{ post.title }}</h4>
        <p>{{ post.body }}</p><hr>
        <a href="{{ path('blog_post_edit', {'slug': post.slug}) }}">Редактировать</a>
        <a href="{{ path('blog_post_delete', {'slug': post.slug}) }}">Удалить</a>
        <p>{{ post.getCreatedAt() | date("m/d/Y") }}</p>
        <div class="container">
            {{ form_start(form) }}
            {{ form_row(form.comment) }}
            <button type="submit" class="btn btn-primary">Отправить</button>
            {{ form_end(form) }}
        </div>
        {%  for comment in post.comments %}
            <p>{{ comment.comment }}</p><hr>
        {% endfor %}
    </div>
{% endblock %}